.banner{
    margin: 0 auto;
    height: 75vh;
    max-width: 680px;
}
.image{
    width: 100%;
    height: 100%;
    background-image:url('./../imagenes/logo-rd.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position: center;
}
@media screen and (width > 420px) {
.image{
        background-image:url('./../imagenes/imgg-od3-dk852h_6.png');
        background-repeat:no-repeat;
        background-size:contain;
        background-position: center;
    }

}