footer{
    border-top: solid 1px black;;
    nav{
        ul{
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                padding: 1rem;
                a{
                    color: black;
                }
            }
        }
    }  
}