main{
    max-width: 520px;
    margin: 0 auto;
    background-color:var(--bg-color);
    padding: 2rem 2rem;
    border-radius: 4px;
    color: var( --hover-text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
fieldset{
    border: none;
    label{
        margin: 0 10px;

    }


}