.progress-bar[data-percent="80"] { --fill-percentage: 80%; }
.progress-bar[data-percent="60"] { --fill-percentage: 60%; }
.progress-bar[data-percent="40"] { --fill-percentage: 40%; }

.hab-tec ul{
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hab-tec li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0;
    }
.percent{
    text-align:right;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-weight: 700;
}
.progress-container {
    width: 90%;
    height: 8px;
    margin: 0.7rem 0;
    border-bottom: 1px black solid;
}
.progress-bar {
    height: 100%;
    width: var(--fill-percentag);
    background-color: var(--main-brand-color); 
    transition: width 1s ease;
}
.hab-tec:hover .progress-bar {
    width: var(--fill-percentage);
}
.hab-tec:hover .percent{
    opacity: 1;
}
